@import 'variables/all';
@import 'mixins/all';
@import 'utilities/all';

@import 'components/all';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.2;
  color: $color-font;
}


.App {
  background-color: $color-background;
}

.nav {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-between;

  &__link {
    margin: 15px 0;

    > a {
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}


.scoreboard-wrapper {
  overflow: scroll;
  padding-top: 10px;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

