// RED
$color-red-light: #FFEAEC;
$color-red-dark: #C10016;

// PURPLE
$color-purple-light: #F7E6FF;
$color-purple-dark: #8100C4;

// BLUE
$color-blue-light: #E3E9FF;
$color-blue-dark: #000FC1;

// GREEN
$color-green-light: #EFFFF2;
$color-green-dark: #00A01F;

// ORANGE
$color-orange-light: #FFF3E6;
$color-orange-dark: #E07000;


// SILVER
$color-silver-light: #F2F2F2;
$color-silver-dark: #ADA9A4;

// GRAY
$color-gray: #676767;

$color-white: #FFFFFF;
$color-black: #000000;

$color-main-light: #F1F9FF;
$color-main-dark: #2699FB;

$color-background: #FCFCFC;
